@import url("https://fonts.googleapis.com/css?family=Poppins:800|Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:400,700|Signika:300,400&display=swap");

body,
button,
input,
textarea {
  font-family: $ff--copy;
  font-size: $fz--base;
  line-height: $lh--base;
  color: $c--text-color;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  background-color: transparent;
}

input {
  border-style: solid;
}

.button {
  @include transition;
  display: inline-block;
  border: 4px solid $c--primary;
  background-color: $c--primary;
  color: $c--white;
  border-radius: 6px;
  padding: 0.33em 1em;

  &:hover {
    background-color: $c--white;
    color: $c--primary;
  }

  &--big {
    font-size: $fz--lg;
  }
}

.section-header {
  font-family: $ff--headline;
  font-size: $fz--lg;
  line-height: $lh--sm;

  &--color {
    color: $c--primary;
  }
}

.meta-info {
  font-size: $fz--sm;
  color: $c--gray-9;
}
