// Colors
// -----------

$c--white: #ffffff;
$c--gray-f: #f3f3f3;
$c--gray-e: #e6e6e6;
$c--gray-9: #999999;
$c--gray-6: #666666;
$c--gray-3: #333333;
$c--black: $c--gray-3;
$c--pink: #ff0051;
$c--light-blue: #e7f8ff;

$c--primary: $c--pink;
$c--text-color: $c--gray-3;
$c--highlight: $c--light-blue;

// Fonts
// -----------

$ff--source-sans-pro: "Source Sans Pro", sans-serif;
$ff--poppins: "Poppins", sans-serif;

$ff--signika-negative: "Signika Negative", sans-serif;
$ff--signika: "Signika", sans-serif;

$ff--headline: $ff--poppins;
// $ff--copy: $ff--source-sans-pro;
$ff--copy: $ff--signika-negative;

// Font size
$fz--base: 16px;
$fz--xs: 0.7rem;
$fz--sm: 0.8rem;
$fz--lg: 1.4rem;
$fz--xl: 2rem;

// Font weight
$fw--base: 400;
$fw--bold: 700;

// Line height
$lh--base: 1.4;
$lh--sm: 1.1;

// Spacing
// -----------

$spacing: 2rem;
$spacing--sm: 1rem;

// Breakpoints
// -----------

$bp--mobile: 500px;
